#viewButton {   
    margin: auto;
}

.project1 {
    background-image: url("./assets/Project1.png");
    background-size: cover;
}


.project2 {
    background-image: url("./assets/Project2.PNG");
    background-size: cover;
}

.project3 {
    background-image: url("./assets/Project3.PNG");
    background-size: cover;
}

.project4 {
    background-image: url("./assets/Project4.PNG");
    background-size: cover;
}

.project5 {
    background-image: url("./assets/Project5.PNG");
    background-size: cover;
}

.project6 {
    background-image: url("./assets/Risedemo.gif");
    background-size: cover;
}

